body{
  margin:0;
  padding:0;
}
h1{
  margin: 0;
  
}
.container{
  background-color: coral;
  display: inline-block;
  padding-left:30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#white{
  color: white;  
}
.navbar{
  display: inline-block;
  margin-left:30%;
}
#home{
  color:coral;
}